* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #7fffd4;
    font-family: sans-serif;
    padding-top: 70px;
    padding-bottom: 50px;
    height: 100vh;
    width: 100vw;
}

header,
footer {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1rem;
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#gridContainer {
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 2px solid #000;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.cell.clicked {
     background-color: #6495ed;
     color: #fff;
}

.cell:hover {
    background-color: rgba(100, 148, 237, 0.2);
}

.cell.clicked:hover {
    background-color: #6495ed;
}